@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #a5a5a5;
  --base-bg-color: #131418;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--base-bg-color);
  @apply text-green-50;
}
.active {
  text-decoration: underline;
}
.filter_btn {
  @apply text-green-50 font-bold py-2 text-[18px] font-extrabold px-4 rounded-lg;
}
/* li::before {
  content: ">";
  font-size: 25px;
  justify-content: center;
  align-items: center;
  margin: auto;
} */

.paging {
  @apply xl:text-4xl sm:text-4xl md:text-2xl;
}
.tab {
  @apply grid gap-3 mt-5;
}
.tab .tab_title {
  @apply text-green-500 text-3xl;
  font-weight: bolder;
}
.tab_description {
  @apply w-full text-justify text-base;
}
.text-muted {
  color: #bfbfbf;
}
