@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #a5a5a5;
  --base-bg-color: #131418;
  --base-font: DM Sans, sans-serif;
  --accent-color: #00c49a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--base-font);
  background-color: var(--base-bg-color);
  color: var(--base-color);
}

.highlight {
  color: var(--accent-color);
}

.divider {
  height: 1px;
  margin-top: 1rem /* 16px */;
  margin-bottom: 1rem /* 16px */;
  width: 20rem;
  border-width: 2px;
  border-color: #696b70;
}
