.parabolicButton {
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.parabolicButton:hover {
  background: linear-gradient(to bottom, #4169e1 0%, #fff 50%, #4169e1 100%);
}
